.navigate-for-view {
    position: relative;
    .navigate-for-view-text-1{
      text-align: start;
    }

    .navigate-for-view-text-2{
      text-align: end;
    }
    a {
      color: var(--color-white);
      font-size: 1.5rem;
    }
    .navigate-for-view-left {
      position: absolute;
      width: 4rem;
      bottom: 0;
      top: 0rem;
      right: 8.5rem;
      z-index: 1;
    }

    .navigate-for-view-right {
      position: absolute;
      width: 4rem;
      bottom: 0;
      top: 1.5rem;
      left: 3.3rem;
      z-index: 1;
    }
  }