.navbar-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: backdrop-filter 0.5s ease;

  .navbar-open-buttom {
    padding: 1rem;
  }

  .navbar-logo {
    margin-left: 1em;
  }

  @media screen and (max-width: 1280px) {
    .navbar-logo{
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

.navbar-header.navbar-header-scrolled {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(75, 75, 75, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
}

@media screen and (min-width: 1280px) {
  .navbar-header.navbar-header-scrolled {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background: rgba(75, 75, 75, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  }
}
.navbar-nav {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-backgroud-navbar);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

  .navbar-close-buttom {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    svg {
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
  .navbar-ul {
    width: 100%;
    list-style: none;
    line-height: 1.3;
    .navbar-li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      .navbar-a {
        width: calc(100vw - 50px);
        color: #f2f2f2;
        font-size: 5.5rem;
        margin-left: 1.5rem;
      }
      &:hover {
        background-color: var(--color-primary);
        transition: 0.2s all ease-in;
      }
    }
  }

  .navbar-copyright {
    margin-bottom: 2rem;
  }

  .navbar-social-network {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .navbar-social-network-item {
      margin: 2rem ;
      display: flex;
      align-items: center;
      gap: 2rem;
      position: relative;
      div {
        position: absolute;
        background-color: var(--color-white);
        content: "";
        width: 2rem;
        height: 2rem;
        z-index:-2;
        left: 0.3rem;
      }
      a {
        font-size: 2rem;
        color: var(--color-withe);
      }
    }
  }
  @media screen and (max-width: 1400px) {
    .navbar-ul{
      .navbar-li {
        .navbar-a {
          font-size: 4rem;
        }
      }
    }
  }
  @media screen and (max-width: 620px) {
    .navbar-logo{
      img {
        width: 2rem;
      }
    }
    .navbar-ul{
      .navbar-li {
        .navbar-a {
          font-size: 3rem;
        }
      }
    }
  }
}
