.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .home-name {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h1 {
      font-size: 5.5rem;
      line-height: 0;
      padding-bottom: 2rem;
    }

    h4 {
      background: linear-gradient(90deg, #a5a5a5, #f0f0f0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2rem;
      line-height: 1;
    }
  }

  @media screen and (max-width: 620px) {
    .home-name {
      h1 {
        font-size: 3rem;
      }

      h4 {
        font-size: 1.3rem;
      }
    }
  }
}
